<section class="relative px-4">
  <div class="max-w-6xl mx-auto">
    <div class="
    grid grid-cols-1 
    md:grid-cols-3 gap-6
     text-white">
      
      
      <div>
        <h3 class="
        text-lg font-semibold mb-2
        "
        >Josue Huarsaya</h3>
        <p>
          Apasionado por el desarrollo web. Somos expertos en la creación 
          de aplicaciones web modernas y funcionales.
        </p>
      </div>

      
      <div>
        <h3 
        class="text-lg font-semibold mb-2">Enlaces Rápidos
        </h3>
        <ul class="space-y-1">
          <li>
            <a href="" class="hover:underline">Inicio</a>
        </li>
          <li>
            <a href="" class="hover:underline">Sobre mí</a>
        </li>
          <li>
            <a href="" class="hover:underline">Habilidades</a>
        </li>
        </ul>
      </div>

      <div>
        <h3 class="text-lg font-semibold mb-2">Contacto</h3>
        <ul class="space-y-1">
          <li>Email: 
            <a href="mailto:josueH@gmail.com" class="hover:underline">josueH@gmail.com</a>
        </li>
          <li>Teléfono: 
            <a href="tel:+51999293435" class="hover:underline">999293435</a>
        </li>
          <li>Ubicación: Puno, Perú</li>
        </ul>
      </div>
    </div>

   
    <div class="flex justify-center items-center text-gray-400 text-sm mt-6">
      <p>© 2025 <span class="font-semibold">Josue Huarsaya</span>. Todos los derechos reservados.</p>
    </div>
  </div>
</section>
