---
// codigo TS
---

<section>
 <!-- codigo HTML -->

 <h1> <strong class="azul">holaa mundo Josue Huarsaya  </strong> </h1>

</section> 
   

<style>
/* codigo CSS */
.azul{
    color: blue;
}
.moradao{
    color:purple
}
</style>