---
// codigo TS

---
<section>
 <!-- codigo HTML -->

 <p> es este un parrafo de prueba <strong class="rojo"> Josue huarsaya</strong></p>
</section> 
   

<style>
/* codigo CSS */
.rojo{
    color: red;
}
</style>