<!doctype html>
<html lang="es-PE">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>

		<meta property="og:title" content="Portafolio | Josue Huarsaya ðŸ˜Šâ¤ï¸">
		<meta property="og:description" content="Portafolio de josue Huarsaya - Desarrollador Full StackðŸ˜">
		<meta property="og:type" content="website"> 
        <meta property="og:url" content="https.// Joshe.pe"> 
		<meta property="og:imagen" content="/ imagen.png"> 

	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
